<ion-header>
  <ion-toolbar>
    <ion-title>China In Box</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="../assets/images/chinaInBox.png" width="200" height="200" />
    <ion-card-header>
      <ion-card-subtitle>Chinesa</ion-card-subtitle>
      <ion-card-title>China In Box</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      China in Box é uma rede de fast-food de comida chinesa, inaugurada em 1992 no bairro paulistano de Moema por
      Robinson Shiba e presente em várias cidades do Brasil, com 136 lojas.
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../assets/images/chinaInBoxCozinha01.png" width="200" height="200"
          (click)="showPageChinaInBoxCozinha01()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/chinaInBoxCozinha02.png" width="200" height="200"
          (click)="showPageChinaInBoxCozinha02()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/chinaInBoxCozinha03.png" width="200" height="200"
          (click)="showPageChinaInBoxCozinha03()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/chinaInBoxCozinha04.png" width="200" height="200"
          (click)="showPageChinaInBoxCozinha04()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/chinaInBoxCozinha05.png" width="200" height="200"
          (click)="showPageChinaInBoxCozinha05()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/chinaInBoxCozinha06.png" width="200" height="200"
          (click)="showPageChinaInBoxCozinha06()" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="light" (click)="showPageHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>