<ion-header>
  <ion-toolbar>
    <ion-title>Burger King</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../assets/images/burgerKing.png" width="200" height="200" />
    <ion-card-header>
      <ion-card-subtitle>Lanches</ion-card-subtitle>
      <ion-card-title>Burger King</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Burger King, muitas vezes abreviado como BK, é uma rede de restaurantes especializada em fast-food, fundada nos
      Estados Unidos por James McLamore e David Edgerton, que abriram a primeira unidade em Miami, Flórida.
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../assets/images/burgerKingCozinha01.png" width="200" height="200" (click)="showPageBurgerKingCozinha01()"/>
      </ion-col>
      <ion-col>
        <img src="../assets/images/burgerKingCozinha02.png" width="200" height="200"  (click)="showPageBurgerKingCozinha02()"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="../assets/images/burgerKingCozinha03.png" width="200" height="200"  (click)="showPageBurgerKingCozinha03()"/>
      </ion-col>
      <ion-col>
        <img src="../assets/images/burgerKingCozinha04.png" width="200" height="200"  (click)="showPageBurgerKingCozinha04()"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="../assets/images/burgerKingCozinha05.png" width="200" height="200"  (click)="showPageBurgerKingCozinha05()"/>
      </ion-col>
      <ion-col>
        <img src="../assets/images/burgerKingCozinha06.png" width="200" height="200"  (click)="showPageBurgerKingCozinha06()"/>
      </ion-col>
    </ion-row>

    
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>

      <ion-col>
        <ion-button color="light" (click)="showPageHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
