<ion-header>
  <ion-toolbar>
    <ion-title>Dominos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="showPageDominos()">
        <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-avatar slot="start">
    <img src="../assets/images/dominos.png">
  </ion-avatar>
  <ion-label>
    <h3>Dominos</h3>
    <p>Pizzas</p>
  </ion-label>
</ion-item>

<img src="../assets/images/dominosCozinha05.png" />
<ion-card-header>
  <ion-card-title>Hotel Panama Garden</ion-card-title>
</ion-card-header>
<ion-card-content>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
</ion-card-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="light" (click)="showDominosCozinha04()">
          <ion-icon slot="icon-only" name="caret-back-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col></ion-col>

      <ion-col></ion-col>

      <ion-col>
        <ion-button color="light" (click)="showDominosCozinha06()">
          <ion-icon slot="icon-only" name="caret-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>



<ion-footer>
  <ion-toolbar>
    <ion-row>

      <ion-col>
        <ion-button color="light" (click)="showPageHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>