<ion-header>
  <ion-toolbar>
    <ion-title>Griletto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../assets/images/griletto.png" width="200"  height="200" />
    <ion-card-header>
      <ion-card-subtitle>Comida Brasileira</ion-card-subtitle>
      <ion-card-title>Griletto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O Griletto é hoje a maior Rede de Grelhados do Brasil e uma das marcas que mais crescem no país em um segmento igualmente prolífero e competitivo.
      Desde 2015 o Griletto faz parte da Halipar um dos maiores Grupos de Alimentação do Brasil com mais de 330 lojas e detentor das marcas: Montana, Jin Jin Wok, Jin Jin Sushi e My Sandwich.
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../assets/images/grilettoCozinha01.png" width="200" height="200" (click)="showPageGrilettoCozinha01()"/>
      </ion-col>
      <ion-col>
        <img src="../assets/images/grilettoCozinha02.png" width="200" height="200" (click)="showPageGrilettoCozinha02()"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="../assets/images/grilettoCozinha03.png" width="200" height="200" (click)="showPageGrilettoCozinha03()"/>
      </ion-col>
      <ion-col>
        <img src="../assets/images/grilettoCozinha04.png" width="200" height="200" (click)="showPageGrilettoCozinha04()"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="../assets/images/grilettoCozinha05.png" width="200" height="200" (click)="showPageGrilettoCozinha05()"/>
      </ion-col>
      <ion-col>
        <img src="../assets/images/grilettoCozinha06.png" width="200" height="200" (click)="showPageGrilettoCozinha06()"/>
      </ion-col>
    </ion-row>

  
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-row>

      <ion-col>
        <ion-button color="light" (click)="showPageHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
