<ion-header>
  <ion-toolbar>
    <ion-title>Habib's</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="../assets/images/habibs.png" width="200" height="200" />
    <ion-card-header>
      <ion-card-subtitle>Comida Árabe</ion-card-subtitle>
      <ion-card-title>Habib's</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Habib's é uma rede brasileira de restaurantes de comida rápida, especializada em culinária árabe. A rede vende
      mais de 600 milhões de esfirras por ano, empregando 22 mil colaboradores em seus 421 restaurantes, distribuídos em
      mais de cem municípios em 20 unidades federativas.
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../assets/images/habibsCozinha01.png" width="200" height="200" (click)="showPageHabibsCozinha01()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/habibsCozinha02.png" width="200" height="200" (click)="showPageHabibsCozinha02()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/habibsCozinha03.png" width="200" height="200" (click)="showPageHabibsCozinha03()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/habibsCozinha04.png" width="200" height="200" (click)="showPageHabibsCozinha04()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/habibsCozinha05.png" width="200" height="200" (click)="showPageHabibsCozinha05()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/habibsCozinha06.png" width="200" height="200" (click)="showPageHabibsCozinha06()" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="light" (click)="showPageHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>