<ion-header>
  <ion-toolbar>
    <ion-title>Jonny Rockets</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="../assets/images/jonnyRockets.png" width="200" height="200" />
    <ion-card-header>
      <ion-card-subtitle>Lanches</ion-card-subtitle>
      <ion-card-title>Johnny Rockets</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Johnny Rockets é uma cadeia de restaurantes americana, especializada em fast-food. Caracteriza-se por oferecer a
      seus clientes uma atmosfera clássica dos anos 50.
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../assets/images/jonnyRocketsCozinha01.png" width="200" height="200"
          (click)="showPageJonnyRocketsCozinha01()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/jonnyRocketsCozinha02.png" width="200" height="200"
          (click)="showPageJonnyRocketsCozinha02()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/jonnyRocketsCozinha03.png" width="200" height="200"
          (click)="showPageJonnyRocketsCozinha03()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/jonnyRocketsCozinha04.png" width="200" height="200"
          (click)="showPageJonnyRocketsCozinha04()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/jonnyRocketsCozinha05.png" width="200" height="200"
          (click)="showPageJonnyRocketsCozinha05()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/jonnyRocketsCozinha06.png" width="200" height="200"
          (click)="showPageJonnyRocketsCozinha06()" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="light" (click)="showPageHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>