<ion-header>
  <ion-toolbar>
    <ion-title>Domino's</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="../assets/images/dominos.png" width="200" height="200" />
    <ion-card-header>
      <ion-card-subtitle>Pizzas</ion-card-subtitle>
      <ion-card-title>Domino's</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Domino's Pizza é uma empresa de alimentação baseada em pizzas. Atualmente, é a maior rede de entregas de pizzas do
      mundo, com 13.000 lojas em 83 países.
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../assets/images/dominosCozinha01.png" width="200" height="200"
          (click)="showPageDominosCozinha01()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/dominosCozinha02.png" width="200" height="200"
          (click)="showPageDominosCozinha02()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/dominosCozinha03.png" width="200" height="200"
          (click)="showPageDominosCozinha03()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/dominosCozinha04.png" width="200" height="200"
          (click)="showPageDominosCozinha04()" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/images/dominosCozinha05.png" width="200" height="200"
          (click)="showPageDominosCozinha05()" />
      </ion-col>
      <ion-col>
        <img src="../assets/images/dominosCozinha06.png" width="200" height="200"
          (click)="showPageDominosCozinha06()" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="light" (click)="showPageHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>